<mat-toolbar class="app-toolbar">
  <button mat-icon-button (click)="goBack()" aria-label="Voltar para a página anterior">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ pageTitle$ | async }}</span>

  <span class="spacer"></span>

  <!-- Botão de Login/Conta com Menu -->
  <ng-container *ngIf="authService.authState$ | async; else loginButton">
    <button mat-icon-button matTooltip="Minha Conta" [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <div class="menu-header" *ngIf="(currentUser$ | async) as user">
        <div class="user-name" *ngIf="user.name">{{ user.name }}</div>
        <div class="user-email">{{ user.email }}</div>
      </div>
      <mat-divider *ngIf="authService.authState$ | async"></mat-divider>

      <!-- O link de gerenciamento só aparece para lojistas -->
      <button mat-menu-item *ngIf="isLojista" (click)="navigateTo(['/meus-estabelecimentos'])">
          <mat-icon>storefront</mat-icon>
          <span>Meus Estabelecimentos</span>
      </button>

      <button mat-menu-item *ngIf="!isLojista" (click)="navigateTo(['/minhas-inscricoes'])">
          <mat-icon>notifications</mat-icon>
          <span>Minhas inscrições</span>
      </button>

      <button mat-menu-item (click)="navigateTo(['/sobre'])">
        <mat-icon>info_outline</mat-icon>
        <span>Sobre o Pão Quentinho</span>
      </button>
      <button mat-menu-item (click)="navigateTo(['/ajuda'])">
          <mat-icon>help_outline</mat-icon>
          <span>Preciso de ajuda</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #loginButton>
    <button mat-stroked-button class="login-button" (click)="abrirLogin()">Entrar</button>
  </ng-template>
</mat-toolbar>
