:host {
  // Faz com que o <app-header> se comporte como um bloco
  // e o posiciona fixo no topo da tela.
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001; // Garante que ele fique acima de outros elementos do mapa.
}

.app-toolbar {
  background-color: #FFE0B2; // Cor rosa claro, similar ao círculo do mapa
  color: #444; // Cor de texto escura para bom contraste
}


// .app-toolbar {
//   background-color: #fff; // Cor rosa claro, similar ao círculo do mapa
//   color: #444; // Cor de texto escura para bom contraste
// }

.header-logo {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.spacer {
  flex: 1 1 auto;
}

.login-button {
  // Estilo para o botão de "Entrar" quando o usuário não está logado
  border-color: 444 !important;
  color: #444; // Cor de texto escura para bom contraste
}

.menu-header {
  padding: 8px 16px;
  outline: none;

  .user-name {
    font-weight: 500;
    font-size: 0.9rem;
  }

  .user-email {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.54);
  }
}

.user-account-button {
    background-color: FFE0B2;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    flex-shrink: 0;
    width: 48px;
    height: 48px;
}
