<div class="container page-container">
  <div *ngIf="isLoading" class="loading-container">
    <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
    <p>Carregando seus estabelecimentos...</p>
  </div>

  <div *ngIf="!isLoading && meusEstabelecimentos.length === 0" class="empty-state">
    <video preload="auto" #videoPlayer autoplay loop [muted]="true" playsinline
      class="welcome-video estabelecimento-video" width="100%">
      <source src="assets/videos/estabelecimento.mp4" type="video/mp4">
      Seu navegador não suporta a tag de vídeo.
    </video>
    <h2>Você ainda não cadastrou nenhum estabelecimento.</h2>
    <p>Clique no botão abaixo para começar!</p>
  </div>

  <mat-accordion class="establishment-list" multi *ngIf="!isLoading && meusEstabelecimentos.length > 0">
    <mat-expansion-panel *ngFor="let est of meusEstabelecimentos">
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title-container">
          <div class="header-top">
            <mat-icon matListItemIcon>{{ est.tipo === 'padaria' ? 'bakery_dining' : 'storefront' }}</mat-icon>
            <div class="panel-text-content">
              <div class="item-title">{{ est.nome }}</div>
              <div class="item-line">{{ est.endereco.rua }}, {{ est.endereco.numero }}</div>
            </div>
          </div>
          <div class="header-bottom">
            <button mat-stroked-button color="primary" (click)="notificar(est.id, est.nome); $event.stopPropagation()">
              <mat-icon>notifications</mat-icon>
              <span>Notificar</span>
            </button>
            <button mat-stroked-button color="primary" (click)="abrirListaReservas(est.id); $event.stopPropagation()">
              <mat-icon>list_alt</mat-icon>
              <span>Reservas</span>
            </button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content-wrapper">
        <div class="actions-section"></div>
        <div class="details-section">
          <div class="detail-item">
            <mat-icon>group</mat-icon>
            <span>Seguidores <b>{{est.followers_count}}</b></span>
          </div>
          <div class="detail-item">
            <mat-icon>schedule</mat-icon>
            <div class="horarios-lista">
              <span>Horário:
                <span *ngIf="est.horarioAbertura && est.horarioAbertura[diaAtualIndex]">{{
                  est.horarioAbertura[diaAtualIndex] }} às {{ est.horarioFechamento[diaAtualIndex] }}</span>
                <span *ngIf="!est.horarioAbertura || !est.horarioAbertura[diaAtualIndex]"
                  class="horario-fechado">Fechado</span>
              </span>
            </div>
          </div>
          <div class="detail-item">
            <mat-icon>bakery_dining</mat-icon>
            <div class="fornadas-list">
              <span>Próximas fornadas:</span>
              <mat-chip-set *ngIf="est && est.proximaFornada && est.proximaFornada.length > 0; else noFornadas">
                <mat-chip *ngFor="let item of est.proximaFornada">
                  {{ $any(item).time || item }} {{ $any(item).description ? '(' + $any(item).description + ')' : '' }}
                </mat-chip>
              </mat-chip-set>
              <ng-template #noFornadas>
                <span>Nenhum horário cadastrado.</span>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="actions-section">
          <button mat-stroked-button color="primary" (click)="abrirBanner(est.id, est.nome)"
            matTooltip="Abrir banner com QRCode">
            <mat-icon>qr_code</mat-icon>
            <span>abrir banner com QRCode</span>
          </button>
          <button mat-stroked-button color="primary" (click)="editar(est.id)"
            matTooltip="Editar dados do estabelecimento">
            <mat-icon>edit</mat-icon>
            <span>Editar estabelecimento</span>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="footer-action">
  <a mat-raised-button color="primary" routerLink="/cadastrar-estabelecimento">
    Cadastrar novo estabelecimento
  </a>
</div>