<div class="container page-container">
  <div *ngIf="isLoading">Carregando seus estabelecimentos...</div>

  <div *ngIf="!isLoading && meusEstabelecimentos.length === 0" class="empty-state">
    <video #videoPlayer autoplay loop [muted]="true" playsinline class="welcome-video estabelecimento-video"
      width="100%">
      <source src="assets/videos/estabelecimento.mp4" type="video/mp4">
      Seu navegador não suporta a tag de vídeo.
    </video>
    <h2>Você ainda não cadastrou nenhum estabelecimento.</h2>
    <p>Clique no botão abaixo para começar!</p>
  </div>

  <mat-accordion class="establishment-list" multi *ngIf="!isLoading && meusEstabelecimentos.length > 0">
    <mat-expansion-panel *ngFor="let est of meusEstabelecimentos">
      <mat-expansion-panel-header>
        <mat-panel-title class="panel-title-container">
          <mat-icon matListItemIcon>{{ est.tipo === 'padaria' ? 'bakery_dining' : 'storefront' }}</mat-icon>
          <div class="panel-text-content">
            <div class="item-title">{{ est.nome }}</div>
            <div class="item-line">{{ est.endereco.rua }}, {{ est.endereco.numero }}</div>

          </div>
          <div class="icon-actions">
            <button mat-icon-button (click)="editar(est.id)" matTooltip="Editar dados do estabelecimento">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="apagar(est.id, est.nome)" matTooltip="Apagar estabelecimento">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content-wrapper">
        <div class="details-section">
          <div class="detail-item">
            <mat-icon>group</mat-icon>
            <span>Seguidores <b>{{est.followers_count}}</b></span>
          </div>
          <div class="detail-item">
            <mat-icon>schedule</mat-icon>
            <div class="horarios-lista">
              <span>Horários de Funcionamento:</span>
              <ul>
                <li *ngFor="let dia of diasDaSemana; let i = index">
                  <b>{{ dia }}:</b>
                  <span *ngIf="est.horarioAbertura && est.horarioAbertura[i]">{{ est.horarioAbertura[i] }} às {{
                    est.horarioFechamento[i] }}</span>
                  <span *ngIf="!est.horarioAbertura || !est.horarioAbertura[i]" class="horario-fechado">Fechado</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="detail-item">
            <mat-icon>bakery_dining</mat-icon>
            <div class="fornadas-list">
              <span>Próximas fornadas:</span>
              <mat-chip-set *ngIf="est && est.proximaFornada && est.proximaFornada.length > 0; else noFornadas">
                <mat-chip *ngFor="let horario of est.proximaFornada">{{horario}}</mat-chip>
              </mat-chip-set>
              <ng-template #noFornadas>
                <span>Nenhum horário cadastrado.</span>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="actions-section">
          <button mat-stroked-button color="primary" (click)="abrirBanner(est.id, est.nome)"
            matTooltip="Notificar seguidores sobre uma nova fornada">
            <mat-icon>qr_code</mat-icon>
            <span>abrir banner com QRCode</span>
          </button>
          <button mat-raised-button color="primary" (click)="notificar(est.id, est.nome)"
            matTooltip="Notificar seguidores sobre uma nova fornada">
            <mat-icon>notifications</mat-icon>
            <span>Notificar Fornada</span>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="footer-action">
  <a mat-raised-button color="primary" routerLink="/cadastrar-estabelecimento">
    Cadastrar novo estabelecimento
  </a>
</div>