@import '../../_shared-styles.scss';

:host {
  display: block;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 8px;
}

p {
  @extend .page-description; // Usa a classe do arquivo compartilhado
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  align-items: center;

  .cep-field {
    flex-grow: 1;
  }

  mat-form-field {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: stretch;
  }
}

.empty-state .empty-icon {
  // Estilo específico que sobrou
  color: #E8A786;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 24px;
  gap: 16px;
  color: #6b7280; // Um cinza suave
  text-align: center;
}

.info-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 24px; /* Espaçamento inferior para separar da lista */
  background-color: #FEF3E7; /* Laranja pastel sutil */
  border-radius: 12px;
  gap: 16px;
}

.banner-content {
  display: flex;
  align-items: center;
}

.close-button {
  // Ajusta a cor para combinar com o resto do banner
  color: #5D4037;
  align-self: flex-start; // Alinha o botão ao topo do banner
}

.info-icon {
  margin-right: 16px;
  color: #5D4037; /* Tom de marrom escuro para o ícone */
  flex-shrink: 0; /* Garante que o ícone não seja espremido */
}

.info-text {
  font-size: 14px;
  color: #5D4037; /* Mesma cor do ícone para consistência */
  margin: 0; /* Remove a margem padrão do parágrafo */
  line-height: 1.4;
}
