@import "../../_shared-styles.scss";

:host {
  display: block;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 8px;
}

p {
  @extend .page-description; // Usa a classe do arquivo compartilhado
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  align-items: center;

  .cep-field {
    flex-grow: 1;
  }

  mat-form-field {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: stretch;
  }
}

.empty-state .empty-icon {
  // Estilo específico que sobrou
  color: #E8A786;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 24px;
  gap: 16px;
  color: #6b7280; // Um cinza suave
  text-align: center;
}

.info-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 24px; /* Espaçamento inferior para separar da lista */
  background-color: #FEF3E7; /* Laranja pastel sutil */
  border-radius: 12px;
  gap: 16px;
}

.banner-content {
  display: flex;
  align-items: center;
}

.close-button {
  // Ajusta a cor para combinar com o resto do banner
  color: #5D4037;
  align-self: flex-start; // Alinha o botão ao topo do banner
}

.info-icon {
  margin-right: 16px;
  color: #5D4037; /* Tom de marrom escuro para o ícone */
  flex-shrink: 0; /* Garante que o ícone não seja espremido */
}

.info-text {
  font-size: 14px;
  color: #5D4037; /* Mesma cor do ícone para consistência */
  margin: 0; /* Remove a margem padrão do parágrafo */
  line-height: 1.4;
}

.plan-card {
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.description {
  padding: 0 16px 16px; // Ajustado para não ter padding superior, já que o header tem
  color: #555;
}

.benefits-list {
  list-style: none;
  padding: 0 16px 16px;
  margin: 0;
  li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    color: var(--pao-quentinho-primary);
  }
}

.plan-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fafafa;
  border-top: 1px solid #eee;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;

  .period {
    font-size: 0.9rem;
    font-weight: normal;
    color: #777;
    margin-left: 4px;
  }
}

.footer-action {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background-color: #fff; // Fundo branco para destacar
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); // Sombra para dar elevação
  z-index: 100;
  display: flex;
}

.footer-action a {
  width: 100%; // Faz o botão ocupar toda a largura
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1rem;
}