.contact-section {
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid #eee;
  text-align: center;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1.5rem;
  }
 
  a {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1rem;
}
}

.section-divider {
  margin: 32px 0;
}

.advanced-options-card {
  border: 1px solid rgba(244, 67, 54, 0.3); // Borda avermelhada sutil
  background-color: #fffafa;

  .mat-mdc-card-avatar {
    color: #f44336; // Ícone vermelho
    margin-top: 8px; // Ajuste fino de alinhamento
  }
}
